In [1]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 코렙에서 한글 깨짐 현상 있을때 설치 후 밑코드로 해결완료
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

'sudo'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
'sudo'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
'rm'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train = pd.read_csv('movies_train.csv')
test = pd.read_csv('movies_test.csv')
data3 = pd.read_csv('submission.csv')

In [7]:
train.dir_prev_bfnum.fillna(0).mean()

472699.30113888887

In [8]:
train = train.fillna(0)
test = test.fillna(0)

train.isnull().sum()

title             0
distributor       0
genre             0
release_time      0
time              0
screening_rat     0
director          0
dir_prev_bfnum    0
dir_prev_num      0
num_staff         0
num_actor         0
box_off_num       0
dtype: int64

In [9]:
#time 구간화 위해, 파생변수 생성
bins = [45,90,120,185]
labels = ['1.5h','2h미만','2h이상']

train['time'] = pd.cut(train.time, bins, labels=labels, right=False)
test['time']= pd.cut(test.time, bins, labels=labels, right=False)
# right=False 로 지정시 우측 범위를 포함하지 않는다.
# 현정님이 알려주신 time 구간화 적용해봄 :)

In [11]:
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,2h미만,청소년 관람불가,조병옥,0.00,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,2h이상,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,2h이상,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,2h미만,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,2h미만,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,2h미만,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,2h이상,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,2h미만,청소년 관람불가,김대현,0.00,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,2h미만,15세 관람가,백운학,0.00,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,2h이상,15세 관람가,류승완,0.00,0,363,5,7166532

In [12]:
train = pd.get_dummies(train, columns=['time'])
test = pd.get_dummies(test, columns=['time'])

train.shape, test.shape

((600, 14), (243, 13))

In [13]:
train

,title,distributor,genre,release_time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,time_1.5h,time_2h미만,time_2h이상
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,청소년 관람불가,조병옥,0.00,0,91,2,23398,0,1,0
1,내부자들,(주)쇼박스,느와르,2015-11-19,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,0,0,1
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,15세 관람가,장철수,220775.25,4,343,4,6959083,0,0,1
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,전체 관람가,구자홍,23894.00,2,20,6,217866,0,1,0
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,15세 관람가,신근호,1.00,1,251,2,483387,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,청소년 관람불가,심성보,3833.00,1,510,7,1475091,0,1,0
596,파파로티,(주)쇼박스,드라마,2013-03-14,15세 관람가,윤종찬,496061.00,1,286,6,1716438,0,0,1
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,청소년 관람불가,김대현,0.00,0,123,4,2475,0,1,0
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,15세 관람가,백운학,0.00,0,431,4,2192525,0,1,0
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,15세 관람가,류승완,0.00,0,363,5,7166532,0,0,1

In [14]:
# 종속변수 생성
box_num = train.pop('box_off_num')

train.shape, test.shape

((600, 13), (243, 13))

In [15]:
distributor_list = train.distributor.value_counts()[:5]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

train['distributor'] = train['distributor'].apply(lambda x : func(x))
test['distributor'] = test['distributor'].apply(lambda x : func(x))

In [16]:
from sklearn.preprocessing import LabelEncoder
cols = ['genre','screening_rat','distributor']
for col in cols:
    le = LabelEncoder() #모델생성
    train[col] = le.fit_transform(train[col])
    test[col]= le.transform(test[col])

In [17]:
train

,title,distributor,genre,release_time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,time_1.5h,time_2h미만,time_2h이상
0,개들의 전쟁,5,10,2012-11-22,3,조병옥,0.00,0,91,2,0,1,0
1,내부자들,2,2,2015-11-19,3,우민호,1161602.50,2,387,3,0,0,1
2,은밀하게 위대하게,2,10,2013-06-05,1,장철수,220775.25,4,343,4,0,0,1
3,나는 공무원이다,0,11,2012-07-12,2,구자홍,23894.00,2,20,6,0,1,0
4,불량남녀,4,11,2010-11-04,1,신근호,1.00,1,251,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,0,4,2014-08-13,3,심성보,3833.00,1,510,7,0,1,0
596,파파로티,2,4,2013-03-14,1,윤종찬,496061.00,1,286,6,0,0,1
597,살인의 강,1,1,2010-09-30,3,김대현,0.00,0,123,4,0,1,0
598,악의 연대기,3,2,2015-05-14,1,백운학,0.00,0,431,4,0,1,0
599,베를린,3,10,2013-01-30,1,류승완,0.00,0,363,5,0,0,1

In [18]:
train = train.drop(columns=['title','director'])
test = test.drop(columns=['title','director'])

In [19]:
train['release_time'] = pd.to_datetime(train['release_time'])

# to_datetime 바꾸기
train['year'] = train['release_time'].dt.year
train['mon'] = train['release_time'].dt.month
train['day'] = train['release_time'].dt.day

In [20]:
test['release_time'] = pd.to_datetime(test['release_time'])
test['year'] = test['release_time'].dt.year
test['mon'] = test['release_time'].dt.month
test['day'] = test['release_time'].dt.day
test = test.drop(columns='release_time')

train.shape , test.shape

((600, 14), (243, 13))

In [21]:
train

,distributor,genre,release_time,screening_rat,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,time_1.5h,time_2h미만,time_2h이상,year,mon,day
0,5,10,2012-11-22,3,0.00,0,91,2,0,1,0,2012,11,22
1,2,2,2015-11-19,3,1161602.50,2,387,3,0,0,1,2015,11,19
2,2,10,2013-06-05,1,220775.25,4,343,4,0,0,1,2013,6,5
3,0,11,2012-07-12,2,23894.00,2,20,6,0,1,0,2012,7,12
4,4,11,2010-11-04,1,1.00,1,251,2,0,1,0,2010,11,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0,4,2014-08-13,3,3833.00,1,510,7,0,1,0,2014,8,13
596,2,4,2013-03-14,1,496061.00,1,286,6,0,0,1,2013,3,14
597,1,1,2010-09-30,3,0.00,0,123,4,0,1,0,2010,9,30
598,3,2,2015-05-14,1,0.00,0,431,4,0,1,0,2015,5,14
599,3,10,2013-01-30,1,0.00,0,363,5,0,0,1,2013,1,30

In [28]:
train.drop(['release_time'],axis=1,inplace=True)

Modeling

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix , f1_score , mean_squared_error
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [29]:
X = train.values.copy()
y = box_num.values.copy()

In [30]:
X_tr, X_te, y_tr, y_te =train_test_split(X,y,
                                         test_size=0.3,
                                         random_state=42)

In [31]:
X_tr

array([[4.000e+00, 3.000e+00, 1.000e+00, ..., 2.012e+03, 4.000e+00,
        2.600e+01],
       [4.000e+00, 4.000e+00, 3.000e+00, ..., 2.015e+03, 1.100e+01,
        2.600e+01],
       [3.000e+00, 1.000e+01, 1.000e+00, ..., 2.013e+03, 1.000e+00,
        3.000e+01],
       ...,
       [4.000e+00, 5.000e+00, 3.000e+00, ..., 2.010e+03, 1.000e+01,
        2.100e+01],
       [3.000e+00, 0.000e+00, 1.000e+00, ..., 2.015e+03, 7.000e+00,
        9.000e+00],
       [4.000e+00, 3.000e+00, 1.000e+00, ..., 2.013e+03, 4.000e+00,
        3.000e+00]])

In [42]:
model = Pipeline([('scaler', StandardScaler() ),
                 ('reg', RandomForestRegressor(max_depth=5,n_jobs=-1, n_estimators=1000,
                                               max_samples=30,random_state=42))])

model.fit(X_tr,y_tr)

model.score(X_tr,y_tr)


model.score(X_te,y_te)

te_pred = model.predict(X_te)

# Rmse
print(f' RMSE score :', np.sqrt(mean_squared_error(y_te,te_pred)))

 RMSE score : 1062330.198716851

In [39]:
import xgboost as xgb

x_model = Pipeline([('scaler', StandardScaler() ),
                  ('reg', xgb.XGBRegressor(colsample_bytree = 0.4, n_jobs=-1,
                    max_depth = 4, alpha = 6, n_estimators =10))])

x_model.fit(X_tr, y_tr)
x_model.score(X_te,y_te)
te_pred = x_model.predict(X_te)

# Rmse
print(f' RMSE score :', np.sqrt(mean_squared_error(y_te,te_pred)))

 RMSE score : 1329682.9292735844

In [43]:
# 테스트 셋에 예측해보기
pred = x_model.predict(test)

data3.box_off_num = pred

data3.head()

data3.to_csv('진짜쩨출제출.csv',index=False)

C:\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [45]:
train

,distributor,genre,screening_rat,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,time_1.5h,time_2h미만,time_2h이상,year,mon,day
0,5,10,3,0.00,0,91,2,0,1,0,2012,11,22
1,2,2,3,1161602.50,2,387,3,0,0,1,2015,11,19
2,2,10,1,220775.25,4,343,4,0,0,1,2013,6,5
3,0,11,2,23894.00,2,20,6,0,1,0,2012,7,12
4,4,11,1,1.00,1,251,2,0,1,0,2010,11,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0,4,3,3833.00,1,510,7,0,1,0,2014,8,13
596,2,4,1,496061.00,1,286,6,0,0,1,2013,3,14
597,1,1,3,0.00,0,123,4,0,1,0,2010,9,30
598,3,2,1,0.00,0,431,4,0,1,0,2015,5,14
599,3,10,1,0.00,0,363,5,0,0,1,2013,1,30